.env
InventoryManagement.md
provenance.json
ACSIncome_2018_US.csv
\[Group 13\] - THESIS PLAN (2).pdf

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Data
data/
*.csv
!data/raw/dirty_ACSIncome_2018_100K.csv
project_plan.md

# Scripts to keep local only
src/utils/make_dirty.py
src/utils/benchmark.py
linear_search.py